*{
  background-color: black;
  color: white;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.alingDivPrincipal{
  margin-top: 15%;
}

.barProgressInss {
  background-color: #e67e22;
}

.barProgressIrpf {
  background-color: #c0392b;
}

.barProgressInssSliquido {
  background-color: #16a085;
}

.largeProgressBar {
  margin-left: 5rem;
  margin-right: 5rem;
}

.inputRead{
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}